.container {
  position: relative;
  z-index: 0;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4rem);
  height: 100dvh;
  opacity: 0.4;
  position: absolute;
  width: 100dvw;
  z-index: -1;
}

.content {
  margin: auto;
  max-width: var(--max-width);
  padding: 2rem;
  position: relative;
}

.name {
  margin-top: 2rem;
}

.price {
  align-items: center;
  background: var(--background-secondary-color);
  border-radius: var(--radius-size);
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 1rem;
}

.artist {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.photo {
  background: var(--background-secondary-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

@media screen and (min-width: 1024px) {
  .background {
    height: 50dvh;
  }

  .content {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 2fr;
    padding: 3rem 0;
  }

  .poster {
    position: sticky;
    top: 5rem;
  }

  .name {
    margin-top: 0;
  }
}