.button {
  border-radius: var(--radius-size);
  border: 0;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  color: var(--background-color);
  text-transform: uppercase;
}

.button--accent {
  background: var(--accent-color);
}

.button--foreground {
  background: var(--foreground-color);
}