.button {
  border-radius: var(--radius-size);
  border: 0;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  color: var(--background-color);
  text-transform: uppercase;

  &--small {
    font-size: 0.75rem;
  }

  &--fluid {
    width: 100%;
  }

  &--primary {
    background: var(--primary-color);
  }

  &--secondary {
    background: var(--foreground-color);
  }
}
