@use "../../mixins/typography.scss" as t;

.tickets-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event {
  display: flex;

  &__poster {
    height: 75px;
    width: 75px;
  }

  &__name,
  &__date,
  &__location {
    display: block;
    margin-top: 0.25rem;
    padding-left: 1rem;
  }

  &__date {
    color: var(--primary-color);
  }

  &__location {
    color: var(--foreground-secondary-color);
  }
}

.selector {
  align-items: center;
  background: var(--foreground-color);
  border-radius: var(--radius-size);
  color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;

  span {
    @include t.is-title-m;
  }

  button {
    @include t.is-title-m;
    background: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
