* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  --background-color: black;
  --background-secondary-color: #1a1a1a;
  --foreground-color: white;
  --foreground-secondary-color: rgba(255, 255, 255, 0.6);
  --primary-color: #f2ef1d;
  --max-width: 1080px;
  --radius-size: 4px;

  background: var(--background-color);
  color: var(--foreground-color);
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
