@use "../mixins/typography" as t;
@use "../mixins/display" as d;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100dvh - 100px);
  text-align: center;
}

.heading {
  @include t.is-title-xl;
}

.paragraph {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@include d.desktop {
  .heading {
    @include t.is-title-xxl;
  }
}
