.container {
  max-width: var(--max-width);
  padding: 2rem;
}

.search {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 3rem auto;
  }

  .search {
    width: 75%;
  }
}