@use "../mixins/layout" as l;
@use "../mixins/typography" as t;

.container {
  padding: 3rem 2rem;
}

.heading {
  @include t.is-title-xl;
}

.paragraph {
  @include t.is-body-l;
  color: var(--foreground-secondary-color);
  margin-top: 2rem;
}

.search {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    @include l.container;
    text-align: center;
  }

  .heading {
    @include t.is-title-xxxl;
  }

  .search {
    margin: 3rem auto 0 auto;
    text-align: left;
    width: 75%;
  }
}
