.container {
  padding: 3rem 2rem;
}

.search {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    margin: auto;
    max-width: var(--max-width);
    min-height: calc(100dvh - 100px);
    padding: 3rem 0;
    text-align: center;
  }


  .search {
    margin: 3rem auto 0 auto;
    text-align: left;
    width: 75%;
  }
}