.has-m-4 {
  margin: 0.25rem;
}

.has-mt-4 {
  margin-top: 0.25rem;
}

.has-mb-4 {
  margin-bottom: 0.25rem;
}

.has-ml-4 {
  margin-left: 0.25rem;
}

.has-mr-4 {
  margin-right: 0.25rem;
}

.has-p-4 {
  padding: 0.25rem;
}

.has-pt-4 {
  padding-top: 0.25rem;
}

.has-pb-4 {
  padding-bottom: 0.25rem;
}

.has-pl-4 {
  padding-left: 0.25rem;
}

.has-pr-4 {
  padding-right: 0.25rem;
}

.has-m-8 {
  margin: 0.5rem;
}

.has-mt-8 {
  margin-top: 0.5rem;
}

.has-mb-8 {
  margin-bottom: 0.5rem;
}

.has-ml-8 {
  margin-left: 0.5rem;
}

.has-mr-8 {
  margin-right: 0.5rem;
}

.has-p-8 {
  padding: 0.5rem;
}

.has-pt-8 {
  padding-top: 0.5rem;
}

.has-pb-8 {
  padding-bottom: 0.5rem;
}

.has-pl-8 {
  padding-left: 0.5rem;
}

.has-pr-8 {
  padding-right: 0.5rem;
}

.has-gap-8 {
  gap: 0.5rem;
}

.has-m-12 {
  margin: 0.75rem;
}

.has-mt-12 {
  margin-top: 0.75rem;
}

.has-mb-12 {
  margin-bottom: 0.75rem;
}

.has-ml-12 {
  margin-left: 0.75rem;
}

.has-mr-12 {
  margin-right: 0.75rem;
}

.has-p-12 {
  padding: 0.75rem;
}

.has-pt-12 {
  padding-top: 0.75rem;
}

.has-pb-12 {
  padding-bottom: 0.75rem;
}

.has-pl-12 {
  padding-left: 0.75rem;
}

.has-pr-12 {
  padding-right: 0.75rem;
}

.has-m-16 {
  margin: 1rem;
}

.has-mt-16 {
  margin-top: 1rem;
}

.has-mb-16 {
  margin-bottom: 1rem;
}

.has-ml-16 {
  margin-left: 1rem;
}

.has-mr-16 {
  margin-right: 1rem;
}

.has-p-16 {
  padding: 1rem;
}

.has-pt-16 {
  padding-top: 1rem;
}

.has-pb-16 {
  padding-bottom: 1rem;
}

.has-pl-16 {
  padding-left: 1rem;
}

.has-pr-16 {
  padding-right: 1rem;
}

.has-gap-16 {
  gap: 1rem;
}

.has-m-24 {
  margin: 1.5rem;
}

.has-mt-24 {
  margin-top: 1.5rem;
}

.has-mb-24 {
  margin-bottom: 1.5rem;
}

.has-ml-24 {
  margin-left: 1.5rem;
}

.has-mr-24 {
  margin-right: 1.5rem;
}

.has-p-24 {
  padding: 1.5rem;
}

.has-pt-24 {
  padding-top: 1.5rem;
}

.has-pb-24 {
  padding-bottom: 1.5rem;
}

.has-pl-24 {
  padding-left: 1.5rem;
}

.has-pr-24 {
  padding-right: 1.5rem;
}

.has-m-32 {
  margin: 2rem;
}

.has-mt-32 {
  margin-top: 2rem;
}

.has-mb-32 {
  margin-bottom: 2rem;
}

.has-ml-32 {
  margin-left: 2rem;
}

.has-mr-32 {
  margin-right: 2rem;
}

.has-p-32 {
  padding: 2rem;
}

.has-pt-32 {
  padding-top: 2rem;
}

.has-pb-32 {
  padding-bottom: 2rem;
}

.has-pl-32 {
  padding-left: 2rem;
}

.has-pr-32 {
  padding-right: 2rem;
}

.has-m-40 {
  margin: 2.5rem;
}

.has-mt-40 {
  margin-top: 2.5rem;
}

.has-mb-40 {
  margin-bottom: 2.5rem;
}

.has-ml-40 {
  margin-left: 2.5rem;
}

.has-mr-40 {
  margin-right: 2.5rem;
}

.has-p-40 {
  padding: 2.5rem;
}

.has-pt-40 {
  padding-top: 2.5rem;
}

.has-pb-40 {
  padding-bottom: 2.5rem;
}

.has-pl-40 {
  padding-left: 2.5rem;
}

.has-pr-40 {
  padding-right: 2.5rem;
}

.has-m-48 {
  margin: 3rem;
}

.has-mt-48 {
  margin-top: 3rem;
}

.has-mb-48 {
  margin-bottom: 3rem;
}

.has-ml-48 {
  margin-left: 3rem;
}

.has-mr-48 {
  margin-right: 3rem;
}

.has-p-48 {
  padding: 3rem;
}

.has-pt-48 {
  padding-top: 3rem;
}

.has-pb-48 {
  padding-bottom: 3rem;
}

.has-pl-48 {
  padding-left: 3rem;
}

.has-pr-48 {
  padding-right: 3rem;
}

.has-m-56 {
  margin: 3.5rem;
}

.has-mt-56 {
  margin-top: 3.5rem;
}

.has-mb-56 {
  margin-bottom: 3.5rem;
}

.has-ml-56 {
  margin-left: 3.5rem;
}

.has-mr-56 {
  margin-right: 3.5rem;
}

.has-p-56 {
  padding: 3.5rem;
}

.has-pt-56 {
  padding-top: 3.5rem;
}

.has-pb-56 {
  padding-bottom: 3.5rem;
}

.has-pl-56 {
  padding-left: 3.5rem;
}

.has-pr-56 {
  padding-right: 3.5rem;
}

.has-m-64 {
  margin: 4rem;
}

.has-mt-64 {
  margin-top: 4rem;
}

.has-mb-64 {
  margin-bottom: 4rem;
}

.has-ml-64 {
  margin-left: 4rem;
}

.has-mr-64 {
  margin-right: 4rem;
}

.has-p-64 {
  padding: 4rem;
}

.has-pt-64 {
  padding-top: 4rem;
}

.has-pb-64 {
  padding-bottom: 4rem;
}

.has-pl-64 {
  padding-left: 4rem;
}

.has-pr-64 {
  padding-right: 4rem;
}

.has-m-72 {
  margin: 4.5rem;
}

.has-mt-72 {
  margin-top: 4.5rem;
}

.has-mb-72 {
  margin-bottom: 4.5rem;
}

.has-ml-72 {
  margin-left: 4.5rem;
}

.has-mr-72 {
  margin-right: 4.5rem;
}

.has-p-72 {
  padding: 4.5rem;
}

.has-pt-72 {
  padding-top: 4.5rem;
}

.has-pb-72 {
  padding-bottom: 4.5rem;
}

.has-pl-72 {
  padding-left: 4.5rem;
}

.has-pr-72 {
  padding-right: 4.5rem;
}

.has-m-80 {
  margin: 5rem;
}

.has-mt-80 {
  margin-top: 5rem;
}

.has-mb-80 {
  margin-bottom: 5rem;
}

.has-ml-80 {
  margin-left: 5rem;
}

.has-mr-80 {
  margin-right: 5rem;
}

.has-p-80 {
  padding: 5rem;
}

.has-pt-80 {
  padding-top: 5rem;
}

.has-pb-80 {
  padding-bottom: 5rem;
}

.has-pl-80 {
  padding-left: 5rem;
}

.has-pr-80 {
  padding-right: 5rem;
}

.has-m-88 {
  margin: 5.5rem;
}

.has-mt-88 {
  margin-top: 5.5rem;
}

.has-mb-88 {
  margin-bottom: 5.5rem;
}

.has-ml-88 {
  margin-left: 5.5rem;
}

.has-mr-88 {
  margin-right: 5.5rem;
}

.has-p-88 {
  padding: 5.5rem;
}

.has-pt-88 {
  padding-top: 5.5rem;
}

.has-pb-88 {
  padding-bottom: 5.5rem;
}

.has-pl-88 {
  padding-left: 5.5rem;
}

.has-pr-88 {
  padding-right: 5.5rem;
}

.has-m-96 {
  margin: 6rem;
}

.has-mt-96 {
  margin-top: 6rem;
}

.has-mb-96 {
  margin-bottom: 6rem;
}

.has-ml-96 {
  margin-left: 6rem;
}

.has-mr-96 {
  margin-right: 6rem;
}

.has-p-96 {
  padding: 6rem;
}

.has-pt-96 {
  padding-top: 6rem;
}

.has-pb-96 {
  padding-bottom: 6rem;
}

.has-pl-96 {
  padding-left: 6rem;
}

.has-pr-96 {
  padding-right: 6rem;
}