.is-title-xxl {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.5rem;
}

.is-title-xl {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}

.is-title-l {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.is-body-l {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.is-body-m {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.is-body-s {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.is-body-l-medium {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.is-body-m-medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.is-body-s-medium {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}