.drawer {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 1;

  &-closed {
    display: none;
  }

  &__close-button {
    align-items: center;
    background: var(--foreground-color);
    border-radius: 100%;
    border: none;
    color: var(--background-color);
    display: flex;
    justify-content: center;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
  }

  &__content {
    background: var(--background-secondary-color);
    color: var(--foreground-color);
    overflow-y: scroll;
    padding: 2rem;
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .drawer {
    flex-direction: row;

    &__close-button {
      left: revert;
      right: 1rem;
      top: 1rem;
      transform: revert;
    }

    &__content {
      height: 100%;
      min-width: 400px;
      padding: 6rem 2rem;
    }
  }
}
