.footer {
  background: white;
  color: black;
  padding: 3rem 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.nav h3 {
  margin-bottom: 1rem;
}

.nav li {
  color: #1a1a1a;
  list-style: none;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 5rem 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: var(--max-width);
  }

  .nav {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin-top: 0;
  }
}