.container {
  position: relative;
  z-index: 0;
}

.background__filter {
  background-image: url("https://dice-media.imgix.net/attachments/2024-04-10/9d07fc2a-48f3-4efe-bd8e-1de1866bba99.jpg?rect=0%2C216%2C1080%2C648&w=200&q=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4rem);
  height: 50dvh;
  opacity: 0.4;
  position: absolute;
  width: 100dvw;
  z-index: -1;
}

.content {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 2fr;
  margin: 3rem auto;
  max-width: var(--max-width);
  position: relative;
}

.poster {
  border-radius: var(--radius-size);
  display: block;
  object-fit: cover;
  position: sticky;
  top: 5rem;
  width: 100%;
}

.price {
  align-items: center;
  background: var(--background-secondary-color);
  border-radius: var(--radius-size);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 1rem;
}

.artist {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.artist__data {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.artist__picture {
  background: var(--background-secondary-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}