@use "../../mixins/layout" as l;
@use "../../mixins/typography" as t;

.container {
  padding: 2rem 2rem 4rem 2rem;
}

.heading {
  @include t.is-title-xl;

  span {
    color: var(--accent-color);
  }
}

.events {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.event {
  &__name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin: 0.75rem 0 0.25rem 0;
    overflow: hidden;
  }

  &__date,
  &__location,
  &__price {
    margin-bottom: 0.25rem;
  }

  &__date {
    color: var(--accent-color);
  }

  &__location {
    color: var(--foreground-secondary-color);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    @include l.container;
    padding: 3rem 0 6rem 0;
  }

  .events {
    grid-template-columns: repeat(4, 1fr);
  }
}
