.container {
  margin: auto;
  max-width: var(--max-width);
  padding: 2rem;
}

.events {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.poster {
  border-radius: var(--radius-size);
  display: block;
  object-fit: cover;
  width: 100%;
}

.name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin: 0.75rem 0 0.25rem 0;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 3rem 0;
  }

  .events {
    grid-template-columns: repeat(4, 1fr);
  }
}