.container {
  position: relative;
  z-index: 0;
}

.container::before {
  content: "";
  animation: loading 2s ease-out infinite;
  aspect-ratio: 1;
  background-color: #efefef;
  border-radius: var(--radius-size);
  display: block;
  position: absolute;
  width: 100%;
}

.container img {
  aspect-ratio: 1;
  border-radius: var(--radius-size);
  display: block;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 1;
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}